{% extends 'base/main.html' %}
{% load static %}
{% block css %}{% static "css/delete.css" %}{% endblock css %}

{% block content %}
<div class="hub-main">

    <a href="{% url 'hub' %}" class="back-link">&#8592; Вернуться назад</a>

    <div class="delete-card">
        <h2>Удаление участника команды</h2>
        <p>Вы уверены, что хотите удалить этого участника:<strong>{{ deletemember }}</strong> ?</p>
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Удалить" class="complete-btn">
        </form>
    </div>
</div>
{% endblock content %}